{% extends 'korra/form.html' %}


{% block form %}
  <div class="form-group {{ form.password.errors|yesno:'error,' }}">
    {{ form.password.errors }}
    <div class="sr-only">{{ form.password.label_tag }}</div>
    {{ form.password }}
    {% if form.password.help_text %}<div class="help-text">{{ form.password.help_text }}</div>{% endif %}
  </div>
  {{ form.name }}
  {% csrf_token %}
  <br />
  <div class="text-center">
    <input type="submit" class="btn btn-block btn-primary" value="Download" />
  </div>
{% endblock form %}


{% block form_footer %}
  <div class="col-xs-12 text-center">
    <a href="{% url 'upload' %}">Share a file of your own</a>
  </div>
{% endblock form_footer %}
