{% extends 'cersei/base.html' %}


{% block content %}

  {% if form.errors %}
    {{ form.non_field_errors }}
  {% endif %}

  <h3>Hooray!  Let's download this sauce!</h3>

  <br />
  <br />
  <form method="post" class="col-md-6 col-md-offset-3">
    <div class="form-group {{ form.password.errors|yesno:'error,' }}">
      {{ form.password.errors }}
      {{ form.password.label_tag }}
      {{ form.password }}
      {% if form.password.help_text %}<div class="help-text">{{ form.password.help_text }}</div>{% endif %}
    </div>
    {% csrf_token %}
    {{ form.name }}
    <div class="text-center">
      <input type="submit" class="btn btn-primary" value="Download" />
    </div>
  </form>

{% endblock content %}
