[Unit]
Description=Gunicorn for Korra

[Service]
User=korra
Group=korra
EnvironmentFile=/var/www/korra/.env
ExecStart=/var/www/korra/scripts/korra

[Install]
WantedBy=multi-user.target

